.rx-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rx-container img {
    display: flex;
    height: 400px;
    width: 400px;
    border: 5px solid #000;
    border-radius: 20px;
}

.rx-row {
    margin: 10px;
}

.rx-row button {
    color: #CFDDD1;
    background-color: #01314C;
    border: 1px solid #CFDDD1;
    padding: 10px;
    border-radius: 10px;
}

.rx-row button:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    border: 1px solid #01314C;
}

.popover-header {
    display: flex;
    justify-content: center;
    border: 1px solid #18382B;
    color: #000;
}

.popover-body {
    display: flex;
    justify-content: center;
    border: 1px solid #18382B;
    color: #000;
}

.uploadInstruction {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 5px solid #01304cc0;
    border-radius: 20px;
    background-color: #01304cc0;
    color: #CFDDD1;
    padding: 30px;
    height: 100%;
    margin: 30px;
}