.drug-table-container {
    display: flex;
    flex-direction: column;
}

.patient-drug-list {
    display: flex;
    border: 1px solid #000;
}

.drug-table-header {
    display: flex;
    background-color: #015488;
    color: #CFDDD1;
}

.drug-table-header th {
    padding: 7px;
}


.patient-drug-list:nth-child(even) {
    background-color: #ffffff51;
}

.patient-drug-list td {
    padding: 7px;
}

.patient-drug-list {
    cursor: pointer;
}

.patient-drug-list:hover {
    background-color: #17382b76;
}