/* CREATE RX CONTAINER */
.createRxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

/* LEFT SIDE OF CREATE RX */
.createRxLeftSideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #000;
    padding-right: 20px;
    margin-right: 20px;
    width: 50vw;
}

/* UPLOADED RX ROW */
.uploadedRxContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.uploadedRxContainer img {
    height: 400px;
    width: 400px;
}

/* SELECTED PATIENT ROW */
.selectedPatientContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
}

/* RIGHT SIDE OF CREATE RX */
.createRxRightSideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.createRxForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CREATE RX ERROR MESSAGE */
.errMsgContainer {
    display: flex;
    flex-direction: column;
}

.errMsgContent {
    display: flex;
    align-items: center;
}

.errMsgContent img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.errMsgContent h4 {
    color: red;
}

/* Drug Row */
.drugInputBoxContainer {
    position: relative;
    width: 500px;
}

.drugInputBoxContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
    margin-bottom: 20px;
}

.drugLabel {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    top: 0;
    left: 2px;
    color: #949BA4;
}

.drugInputBoxContainer input:valid+span,
.drugInputBoxContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;
}

.drugInputBoxContainer input:valid,
.drugInputBoxContainer input:focus {
    border: 1px solid #0D2018;
}

/* Direction Row */

.directionInputBoxContainer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 500px;
}

.directionInputBoxContainer input {
    width: 100%;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
    margin-bottom: 20px;
}

.directionInputLabel {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    top: 0;
    left: 2px;
    color: #949BA4;
}

.directionInputBoxContainer input:valid+span,
.directionInputBoxContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;

}

.directionInputBoxContainer input:valid,
.directionInputBoxContainer input:focus {
    border: 1px solid #0D2018;
}

/* Quanity, Refills, and Day Supply Row */

.qtyRefillDaySupplyContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 500px;
}

.qtyRefillDaySupplyContainer input:valid+span,
.qtyRefillDaySupplyContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;

}

.qtyRefillDaySupplyContainer input:valid,
.qtyRefillDaySupplyContainer input:focus {
    border: 1px solid #0D2018;
}

/* QTY */

.qtyInputContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.qtyLabel {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    top: 0;
    left: 2px;
    color: #949BA4;
}

.qtyInputErrorContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.qtyInputErrorContainer input:valid+span,
.qtyInputErrorContainer input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.qtyInputErrorContainer input:valid,
.qtyInputErrorContainer input:focus {
    border: 1px solid red;
}

.qtyErrorLabel {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    top: 0;
    left: 2px;
    color: red;
}



/* REFILL */
.refillInputContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.refillInputContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.refillLabel {
    position: absolute;
    left: 193px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    left: 172px;
    top: 0px;
    color: #949BA4;
}

.refillInputErrorContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.refillInputErrorContainer input:valid+span,
.refillInputErrorContainer input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.refillInputErrorContainer input:valid,
.refillInputErrorContainer input:focus {
    border: 1px solid red;
}

.refillErrorLabel {
    position: absolute;
    left: 193px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    left: 172px;
    top: 0px;
    color: red;
}

/* DAY SUPPLY */

.daySupplyInputContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.daySupplyLabel {
    position: absolute;
    left: 342px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    top: 0px;
    color: #949BA4;
}

.daySupplyInputErrorContainer input {
    width: 160px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.daySupplyInputErrorContainer input:valid+span,
.daySupplyInputErrorContainer input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.daySupplyInputErrorContainer input:valid,
.daySupplyInputErrorContainer input:focus {
    border: 1px solid red;
}

.daySupplyErrorLabel {
    position: absolute;
    left: 193px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    left: 342px;
    top: 0px;
    color: red;
}

/* CREATE RX FORM SUBMIT BUTTON */

.createRxSubmitButton {
    color: #CFDDD1;
    background-color: #01314C;
    border: 1px solid #CFDDD1;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

.createRxSubmitButton:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    border: 1px solid #01314C;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

/* CREATE RX INSTRUCTION */
.createRxInstruction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #01304cc0;
    border-radius: 20px;
    background-color: #01304cc0;
    color: #CFDDD1;
    padding: 30px;
    height: 100%;
    margin: 100px;
}