.registerPatientContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ERROR MESSAGE */
.errMsgContent {
    display: flex;
    align-items: center;
}

.errMsgContent img {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.errMsgContent h4 {
    color: red;
}

/* REGISTER PATIENT BUTTON ACTIVE */
.registerPatientSubmitButtonActive {
    color: #CFDDD1;
    background-color: #01314C;
    border: 1px solid #01314C;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
}

.registerPatientSubmitButtonActive:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    border: 1px solid #01314C;
}

/* REGISTER PATIENT BUTTON INACTIVE */
.registerPatientSubmitButtonInactive {
    color: #949BA4;
    background-color: #CFDDD1;
    border: 1px solid #949BA4;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    cursor: not-allowed;
}

/*CITY, STATE, and ZIP CONTAINER*/

.cityStateZipContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.cityStateZipContainer input:valid+span,
.cityStateZipContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;
}

.cityStateZipContainer select:valid+span,
.cityStateZipContainer select:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;
}

.cityStateZipContainer select:valid,
.cityStateZipContainer select:focus {
    border: 1px solid #0D2018;
}

.cityStateZipContainer select {
    width: 153px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.cityStateZipContainer input:valid,
.cityStateZipContainer input:focus {
    border: 1px solid #0D2018;
}

.cityStateZipContainer input {
    width: 153px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.cityStateZipContainer span {
    color: #949BA4;
    text-transform: uppercase;
    font-size: 1em;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: 0.3s;
    padding: 10px;
}

.cityContainer span {
    left: 0;
    top: 0;
}

.stateContainer span {
    left: 173px;
    top: 0;
}

.zipContainer span {
    left: 347px;
    top: 0;
}

/*STREET INPUT BOX*/
.streetContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.streetContainer input {
    width: 500px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.streetContainer span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    left: 0;
    top: 0;
    color: #949BA4;
}

.streetContainer input:valid+span,
.streetContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;

}

.streetContainer input:valid,
.streetContainer input:focus {
    border: 1px solid #0D2018;
}

/* DOB CONTAINER */
.dobContainer {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dobContainer input {
    width: 153px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.dobContainer select {
    width: 153px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.dobMonthContainerError select {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.dobDayContainerError select {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.dobContainer span {
    color: #949BA4;
    text-transform: uppercase;
    font-size: 1em;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: 0.3s;
    padding: 10px;
}

.dobContainer input:valid+span,
.dobContainer input:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.07em;
}

.dobContainer select:valid+span,
.dobContainer select:focus+span {
    opacity: 1;
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.07em;
}

.dobMonthContainerError select:valid+span,
.dobMonthContainerError select:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.07em;
}

.dobContainer input:valid,
.dobContainer input:focus {
    border: 1px solid #0D2018;
}

.dobContainer select:valid,
.dobContainer select:focus {
    border: 1px solid #0D2018;
}

.dobMonthContainerError select:valid,
.dobMonthContainerError select:focus {
    border: 1px solid red;
}

.dobMonthContainer span {
    left: 0;
    top: 0;
}

.dobDayContainer span {
    left: 173px;
    top: 0;
}

.dobYearContainer span {
    left: 347px;
    top: 0;
}

/*NAME CONTAINER*/
.nameContainer {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nameContainer input {
    width: 240px;
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
}

.nameContainer input:valid+span,
.nameContainer input:focus+span {
    color: #0D2018;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid #0D2018;
    border-right: 1px solid #0D2018;
    letter-spacing: 0.2em;
    opacity: 1;
}

.nameContainer input:valid,
.nameContainer input:focus {
    border: 1px solid #0D2018;
}

.lastNameContainer span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #949BA4;
    text-transform: uppercase;
    transition: 0.3s;
    left: 260px;
    top: 0;
    opacity: 1;
}

.firstNameContainer span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #949BA4;
    text-transform: uppercase;
    transition: 0.3s;
    left: 0;
    top: 0;
    opacity: 1;
}

/* FIRST NAME ERROR */
.firstNameContainerError input {
    border: 1px solid red;
    background: #CFDDD1;
}

.firstNameContainerError span {
    color: red;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.3s;
    left: 0;
    top: 0;
    opacity: 1;
}

.firstNameContainerError input:valid+span,
.firstNameContainerError input:focus+span {
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
    opacity: 1;
}

.firstNameContainerError input:valid,
.firstNameContainerError input:focus {
    border: 1px solid red;
}

/* LAST NAME ERROR */
.lastNameContainerError input {
    border: 1px solid red;
    background: #CFDDD1;
}

.lastNameContainerError span {
    color: red;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.3s;
    left: 260px;
    top: 0;
    opacity: 1;
}

.lastNameContainerError input:valid+span,
.lastNameContainerError input:focus+span {
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
    opacity: 1;
}

.lastNameContainerError input:valid,
.lastNameContainerError input:focus {
    border: 1px solid red;
}

/* STREET ERROR */
.streetContainerError {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.streetContainerError input {
    width: 500px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.streetContainerError span {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.3s;
    left: 0;
    top: 0;
    color: red;
}

.streetContainerError input:valid+span,
.streetContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;

}

.streetContainerError input:valid,
.streetContainerError input:focus {
    border: 1px solid red;
}

/* CITY ERROR */

.cityContainerError input:valid+span,
.cityContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.cityContainerError input:valid,
.cityContainerError input:focus {
    border: 1px solid red;
}

.cityContainerError input {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.cityContainerError span {
    left: 0;
    top: 0;
    color: red
}

/*STATE ERROR*/

.stateContainerError select:valid+span,
.stateContainerError select:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.stateContainerError select:valid,
.stateContainerError select:focus {
    border: 1px solid red;
}

.stateContainerError select {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.stateContainerError span {
    left: 173px;
    top: 0;
    color: red
}

/* ZIP ERROR */

.zipContainerError input:valid+span,
.zipContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.zipContainerError input:valid,
.zipContainerError input:focus {
    border: 1px solid red;
}

.zipContainerError input {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.zipContainerError span {
    left: 347px;
    top: 0;
    color: red
}

/*REGISTER PATIENT BACK BUTTON  */
.registerPatientBackButton {
    display: flex;
    color: #01314C;
    background-color: #CFDDD1;
    border: 1px solid #01314C;
    padding: 10px;
    border-radius: 10px;
}

.registerPatientBackButton:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    border: 1px solid #01314C;
}














/* DBO MONTH ERROR */

.dobMonthContainerError input:valid+span,
.dobMonthContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.dobMonthContainerError input:valid,
.dobMonthContainerError input:focus {
    border: 1px solid red;
}

.dobMonthContainerError input {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.dobMonthContainerError span {
    left: 0;
    top: 0;
    color: red
}

/* DBO DAY ERROR */

.dobDayContainerError input:valid+span,
.dobDayContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.dobDayContainerError input:valid,
.dobDayContainerError input:focus {
    border: 1px solid red;
}

.dobDayContainerError input {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.dobDayContainerError span {
    left: 173px;
    top: 0;
    color: red
}

/* DBO YEAR ERROR */

.dobYearContainerError input:valid+span,
.dobYearContainerError input:focus+span {
    opacity: 1;
    color: red;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #CFDDD1;
    border-left: 1px solid red;
    border-right: 1px solid red;
    letter-spacing: 0.2em;
}

.dobYearContainerError input:valid,
.dobYearContainerError input:focus {
    border: 1px solid red;
}

.dobYearContainerError input {
    width: 153px;
    padding: 10px;
    border: 1px solid red;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: red;
    font-size: 1em;
}

.dobYearContainerError span {
    left: 347px;
    top: 0;
    color: red
}

.places-container {
    height: 100vh;
    width: 100%;
}