.new-rx-buttons-container {
    display: flex;
}


.new-rx-buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.new-rx-buttons button {
    display: flex;
    color: #CFDDD1;
    background-color: #01314C;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
    padding: 10px;
}

.new-rx-buttons button:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
}

.newRxButtonsNextArrow {
    display: flex;
    align-items: center;
}

.newRxButtonsNextArrow img {
    height: 50px;
    width: 50px;
}

.newRxUploadButton button {
    background-color: green;
}

.newRxSelectPatientButton button {
    background-color: green;
    color: #CFDDD1;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.newRxSelectPatientButton button:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
}

.newRxCompletedCheckmark {
    height: 20px;
    width: 20px;
}