.new-rx-buttons-container {
    display: flex;
    justify-content: center;
}


.new-rx-buttons {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.new-rx-buttons button {
    color: #CFDDD1;
    background-color: #01314C;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
}

.new-rx-buttons button:hover {
    color: #CFDDD1;
    background-color: #3385C4;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid #17382b76;
    border-radius: 10px;
}