.patientsearch-container {
    display: flex;
}

.uploaded-rx-title {
    display: flex;
    justify-content: center;
}

.patientsearch-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #000;
    padding-right: 20px;
    margin-right: 20px;
    width: 50vw;
}

.patientsearch-left img {
    display: flex;
    height: 400px;
    width: 400px
}





.patientsearch-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.searchbar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchbar-container h1 {
    display: flex;
    justify-content: center;
}

.searchbar-row-middle {
    display: flex;
}

.searchbar-row-middle input {
    background-color: #CFDDD1;
    outline: none;
}

.searchbar-row-bottom {
    display: flex;
}

.searchbar-container input {
    display: flex;
    border-radius: 500px;
    padding: 7px;
    border: 1px solid #18382B;
}

.patientsearch-register-button {
    border: 1px solid #01314C;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #CFDDD1;
    background-color: #01314C;
    padding: 7px;
    margin-left: 7px;
}

.patientsearch-register-button:hover {
    border: 1px solid #01314C;
    color: #CFDDD1;
    background-color: #3385C4;
}