.new-rx-search-results-container {
    width: 100%;
    margin-top: 30px;
}

.new-rx-search-results-container th {
    width: 200px;
    background-color: #01314C;
    color: #CFDDD1;
    padding: 7px;
}

.new-rx-search-results-container td {
    width: 200px;
    color: #000;
    padding: 7px;
}

.newRx-search-result-row {
    border: 1px solid #000;
    cursor: pointer;
}

.newRx-search-result-row:nth-child(even) {
    background-color: #ffffff36;
}

.newRx-search-result-row:hover {
    background-color: #17382b76;
}