.new-rx-search-results-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.new-rx-search-results-container td {
    min-width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.new-rx-search-results-header {
    border-bottom: 1px solid #000;
    background-color: #18382B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.newrx-search-results {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    overflow: hidden;
}

.newrx-search-results:nth-child(even) {
    background-color: #ffffff51;
}

.newrx-search-results:hover {
    background-color: #17382b76;
}

.newrx-search-results-name {
    display: flex;
    flex-shrink: 0;
}

.newrx-search-results-dob {
    display: flex;
    flex-shrink: 0;
}

.newrx-search-results-address {
    display: flex;
    flex-wrap: wrap;
}