.find-patient-container {
    display: flex;
    justify-content: center;
    background-color: #CFDDD1;
    height: 100vh;
}

.find-patient-searchbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.find-patient-searchbar input {

    background-color: #CFDDD1;
    outline: none;
    border: 1px solid #01314C;
    border-radius: 500px;
    padding: 7px;
}

.selected-patient-header {
    background-color: #01314C;
    color: #CFDDD1;
    margin-top: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




.profile-container {
    display: flex;
    flex-direction: column;
    background-color: #CFDDD1;
    height: 100vh;
}

.selected-patient-back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.selected-patient-back-button-container button {
    border-radius: 500px;
    border: none;
    color: #CFDDD1;
    background-color: #01314C;
    padding: 10px;
    border: 1px solid #01314C;
}

.selected-patient-back-button-container button:hover {
    color: #01314C;
    background-color: #CFDDD1;
    border: 1px solid #01314C;
}

.selected-patient-info-header {
    display: flex;
    align-items: center;
    background-color: #015488;
    color: #CFDDD1;
    padding: 7px;
    cursor: pointer;
}

.selected-patient-info-header img {
    width: 1rem;
    height: 1rem;
}