.home-container {
    background-color: #CFDDD1;
    height: 100vh;
    padding-left: 70px;
    padding-right: 70px;
}

.home-container h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}