.login-error-message {
    position: absolute;
    top: 5%;
    background-color: #EDC9C5;
    border: 1px solid #AB3431;
    border-radius: 10px;
    color: #AB3431;
    padding: 10px;

}

.login-container {
    background-image: linear-gradient(to bottom, #01314C, #00BE9F, #42C6A3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px -5px;
}

.login-card h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    top: 20%;
}

.login-form {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-direction: start;
    width: 500px;
}

.login-form label {
    font-weight: bold;
    color: #fff;
}

.login-form input {
    padding: 10px;
    border: 1px solid #949BA4;
    background: #CFDDD1;
    border-radius: 5px;
    outline: none;
    color: #0D2018;
    font-size: 1em;
    margin: 10px;
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button-container button {
    display: flex;
    justify-content: center;
    color: #CFDDD1;
    background-color: #2A3746;
    padding: 10px;
    margin-top: 70px;
    border-radius: 500px;
    border: none;
    width: 100px;
    border: 1px solid #2A3746;
}

.login-button-container button:hover {
    color: #2A3746;
    background-color: #CFDDD1;
    border: 1px solid #2A3746;
}

.login-register-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.register-link {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.register-link:hover {
    color: #2A3746;
}