.instructionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #01304cc0;
    border-radius: 20px;
    background-color: #01304cc0;
    color: #CFDDD1;
    padding: 30px;
    height: 100%;
    margin-top: 50px;
}

.instructionContainer div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.newrx-container {
    height: 100%;
    background-color: #CFDDD1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newRxInstructionContainer {
    margin-bottom: 200px;
    margin-top: 200px;
}