* {
  font-family: 'Zilla Slab', serif;
  ;
}

.App {
  background-color: #CFDDD1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.nav {
  background-color: #17382b;
}

.nav-link {
  text-decoration: none;
}

/*---------------------------------------------------------------------------------------NewRxPage form*/
.success-alert {
  position: absolute;
  width: 100%
}

.error-alert {
  position: absolute;
  width: 100%
}



.input-body {

  background-color: #CFDDD1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.data-entry-button {
  padding: 20px;
}

.prescription-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.prescription-title {
  color: #0D2018;
  padding: 10px;
  font-weight: bold;
}

.patient-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.patient-title {
  color: #0D2018;
  padding: 10px;
  font-weight: bold;
}

.patient-prescription-submit-button {
  color: #0D2018;
  background-color: #CFDDD1;
  border: 1px solid #0D2018;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.patient-prescription-submit-button:hover {
  color: #CFDDD1;
  background-color: #0D2018;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

/*---------------------------------------------------------------------------------------inputBox-name*/
.inputBox-name {
  position: relative;
  width: 500px;

}

.inputBox-name input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.last-name-span {
  position: absolute;
  left: 275px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #949BA4;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  opacity: 1;
}

.first-name-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #949BA4;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  opacity: 1;
}

.inputBox-name input:valid+span,
.inputBox-name input:focus+span {
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;
  opacity: 1;
}

.inputBox-name input:valid,
.inputBox-name input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-dob*/
.inputBox-dob {
  position: relative;
  width: 500px;
}

.inputBox-dob input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-dob span {
  color: #949BA4;
  text-transform: uppercase;
  font-size: 1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s;
  padding: 10px;
}

.dob-month-span {
  left: 25px;
}

.dob-day-span {
  left: 193px;
}

.dob-year-span {
  left: 360px;
}

.inputBox-dob input:valid+span,
.inputBox-dob input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.07em;
}

.inputBox-dob input:valid,
.inputBox-dob input:focus {
  border: 1px solid #0D2018;
}


/*---------------------------------------------------------------------------------------inputBox-street*/

.inputBox-street {
  position: relative;
  width: 500px;
}

.inputBox-street input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-street-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-street input:valid+span,
.inputBox-street input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-street input:valid,
.inputBox-street input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-city-state-zip*/

.inputBox-city-state-zip {
  position: relative;
  width: 500px;
}

.inputBox-city-state-zip input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-city-state-zip span {
  color: #949BA4;
  text-transform: uppercase;
  font-size: 1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s;
  padding: 10px;
}

.inputBox-city-span {
  left: 25px;
}

.inputBox-state-span {
  left: 193px;
}

.inputBox-zip-span {
  left: 360px;
}

.inputBox-city-state-zip input:valid+span,
.inputBox-city-state-zip input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;
}

.inputBox-city-state-zip input:valid,
.inputBox-city-state-zip input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-drug*/

.inputBox-drug {
  position: relative;
  width: 500px;
}

.inputBox-drug input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-drug-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-drug input:valid+span,
.inputBox-drug input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-drug input:valid,
.inputBox-drug input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-sig */

.inputBox-sig {
  position: relative;
  width: 500px;
}

.inputBox-sig input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-sig-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-sig input:valid+span,
.inputBox-sig input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-sig input:valid,
.inputBox-sig input:focus {
  border: 1px solid #0D2018;
}

.inputBox-quanity-refills {
  position: relative;
  width: 500px;
}

.inputBox-quanity-refills input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-quanity-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-refills-span {
  position: absolute;
  left: 193px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-day-supply-span {
  position: absolute;
  left: 360px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-quanity-refills input:valid+span,
.inputBox-quanity-refills input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-quanity-refills input:valid,
.inputBox-quanity-refills input:focus {
  border: 1px solid #0D2018;
}


/*----------------------------------------------------------------------------------------registerUserPage */
.input.input-error,
.select.input-error {
  border-color: red;
}



.search-container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.search-input {
  border-radius: 20px;
}

.select-title {
  color: #0D2018;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.search-result-table {
  color: #fff;
  background-color: black;
  border: 1px solid;
  margin-top: 20px;
  width: 100%;
}

.search-result-table th {

  text-align: center;
  background-color: #17382b;
  color: white;
}

.search-result-table,
th,
td {
  padding: 30px;
  border: 1px solid white;
  justify-content: center;
}

.search-result-table tr:nth-child(even) {
  background-color: #1e1e1e;
}

.search-result-table tr {
  padding: 50px;
}

.search-result-table tr:hover {
  background-color: #949BA4;
}