* {
  font-family: 'Zilla Slab', serif;
  ;
}

.App {
  background-color: #CFDDD1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.login-button {
  color: #0D2018;
  background-color: #fff;
  border: 1px solid #0D2018;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.login-button:hover {
  color: #CFDDD1;
  background-color: #0D2018;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.nav {
  background-color: #17382b;
}

.nav h1 {
  color: #CFDDD1;
}

.nav h1:hover {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  border-radius: 500px;
  padding: 10px;
}

.nav-link:hover {
  background-color: #0e251b;
}

.hide {
  display: none;
}

.logout-modal {
  height: 100%;
  width: 100%;
}

.logout-modal-body {
  background-color: #CFDDD1;
}

.logout-modal-header {
  background-color: #17382b;
}

.logout-modal-header h2 {
  color: #CFDDD1;
}

.logout-modal-body p {
  display: flex;
  justify-content: center;
}

.logout-selection-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.logout-selection-container button {
  text-align: center;
  top: 0;
  left: 5px;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

.logout-selection-container button:hover {
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
}

.login-error-message {
  position: absolute;
  top: 5%;
  background-color: #EDC9C5;
  border: 1px solid #AB3431;
  border-radius: 10px;
  color: #AB3431;
  padding: 10px;

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #17382b;
  height: 650px;
  width: 700px;
  background-color: #17382b76;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px;
}

.login-card h1 {
  position: absolute;
  top: 20%;
}

.login-form {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: start;
  width: 500px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-container button {
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
  position: absolute;
  top: 100%;
}

.login-button-container button:hover {
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
  position: absolute;

}

.login-register-section-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 80%;
}

.register-error-message {
  position: absolute;
  top: 13%;
  background-color: #EDC9C5;
  border: 1px solid #AB3431;
  border-radius: 10px;
  color: #AB3431;
  padding: 10px;
}

.valid {
  color: green;
  background-color: rgba(0, 0, 0, 0.608);
}

.invalid {
  color: red;
  background-color: rgba(0, 0, 0, 0.608);
}

.instructions {
  color: white;
  background-color: rgba(0, 0, 0, 0.608);
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.register-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: scroll;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 700px;
  background-color: #17382b76;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px;
}

.register-card h1 {
  position: relative;
  padding: 50px;
}

.register-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px
}

.register-form input {
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.register-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-button {
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
}

.register-button:hover {
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
}

.register-back-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

.register-back-button:hover {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.register-success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.register-success-page div {
  height: 500px;
  width: 500px;
  background-color: #17382b76;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-rx-buttons-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.new-rx-buttons-row {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
}

.new-rx-buttons-col {
  display: flex;
  margin: 10px;
}

.new-rx-buttons-col button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 11rem;
}

.new-rx-buttons-col button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 11rem;
}

.register-patient-button {
  background-color: #CFDDD1;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #17382b76;
  border-radius: 10px;
  padding: 10px;
}

.register-patient-button:hover {
  background-color: #17382b26;
  display: flex;
  border: 1px solid #17382b76;
  border-radius: 10px;
  padding: 10px;
}

.upload-rx-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-patient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newrx-container {
  height: 100vh;
  background-color: #CFDDD1;
}

.success-alert {
  position: absolute;
  width: 100%
}

.error-alert {
  position: absolute;
  width: 100%
}

.prescription-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.patient-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.new-patient-back-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

.new-patient-back-button:hover {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.select-title {
  color: #0D2018;
  display: flex;
  justify-content: center;
  font-weight: bold;
}