* {
  font-family: 'Zilla Slab', serif;
  ;
}

.App {
  background-color: #CFDDD1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.login-button {
  color: #0D2018;
  background-color: #fff;
  border: 1px solid #0D2018;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.login-button:hover {
  color: #CFDDD1;
  background-color: #0D2018;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.nav {
  background-color: #17382b;
}

.nav h1 {
  color: #CFDDD1;
}

.nav h1:hover {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  border-radius: 500px;
  padding: 10px;
}

.nav-link:hover {
  background-color: #0e251b;
  border-radius: 500px;
  padding: 10px;
}

.hide {
  display: none;
}

.logout-modal {
  height: 100%;
  width: 100%;
}

.logout-modal-header,
.logout-modal-body {
  background-color: #CFDDD1;
}

.logout-modal h2 {
  color: #17382b76;
}

.logout-selection-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.logout-selection-container button {
  text-align: center;
  top: 0;
  left: 5px;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

/*---------------------------------------------------------------------------------------HomePage*/
.home-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #CFDDD1;
}

.home-container h1 {
  position: relative;
  top: 10%;
}


/*---------------------------------------------------------------------------------------LoginPage*/
.login-error-message {
  position: absolute;
  top: 5%;
  background-color: #EDC9C5;
  border: 1px solid #AB3431;
  border-radius: 10px;
  color: #AB3431;
  padding: 10px;

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #17382b;
  height: 650px;
  width: 700px;
  background-color: #17382b76;
  border-radius: 10px;
}

.login-card h1 {
  position: absolute;
  top: 20%;
}

.login-form {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-direction: start;
  width: 500px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button-container button {
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
  position: absolute;
  top: 100%;
}

.login-button-container button:hover {
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
  position: absolute;

}

.login-register-section-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 80%;
}


/*---------------------------------------------------------------------------------------SignUpPage*/
.register-error-message {
  position: absolute;
  top: 13%;
  background-color: #EDC9C5;
  border: 1px solid #AB3431;
  border-radius: 10px;
  color: #AB3431;
  padding: 10px;
}

.valid {
  color: green;
  background-color: rgba(0, 0, 0, 0.608);
}

.invalid {
  color: red;
  background-color: rgba(0, 0, 0, 0.608);
}

.instructions {
  color: white;
  background-color: rgba(0, 0, 0, 0.608);
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.register-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: scroll;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 700px;
  background-color: #17382b76;
  padding: 1px;
  border-radius: 10px;
}

.register-card h1 {
  position: relative;
  padding: 50px;
}

.register-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px
}

.register-form input {
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.register-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-button {
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
}

.register-button:hover {
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 100px;
}

.register-back-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

.register-back-button:hover {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.register-success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.register-success-page div {
  height: 500px;
  width: 500px;
  background-color: #17382b76;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*---------------------------------------------------------------------------------------NewRxButtons*/
.new-rx-buttons-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.new-rx-buttons-row {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
}

.new-rx-buttons-col {
  display: flex;
  margin: 10px;
}

.new-rx-buttons-col button {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 11rem;
}

.new-rx-buttons-col button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 11rem;
}

.new-rx-selected-patient {
  border: 1px solid #000;
  border-radius: 500px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90%;
  margin-top: 20px;
}

.new-rx-selected-patient p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-rx-selected-patient button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid #000;
}

.new-rx-searchbar-title {
  font-weight: bold;
}



.new-rx-searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-rx-searchbar-row input {
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  outline: none;
  border-radius: 10px;
  justify-content: space-between;
}

.new-rx-search-results-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.new-rx-search-results-container,
td {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}

.new-rx-search-results-container td {
  cursor: pointer;
}

.newrx-search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.newrx-search-results:nth-child(even) {
  background-color: #ffffff51;
}

.newrx-search-results:hover {
  background-color: #17382b76;
}

.new-rx-search-results-header {
  border-bottom: 1px solid #000;
  background-color: #18382B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}





.register-patient-section-container button {
  background-color: #CFDDD1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #17382b76;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: 900px;
  top: 200px;
}

.register-patient-section-container button:hover {
  background-color: #17382b26;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #17382b76;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  left: 900px;
  top: 200px;
}

.upload-rx-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.select-patient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* .login-button:hover {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
  color: #CFDDD1;
  background-color: #0D2018;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
} */

/*---------------------------------------------------------------------------------------NewRxPage form*/
.newrx-container {
  height: 100vh;
  background-color: #CFDDD1;
}

.success-alert {
  position: absolute;
  width: 100%
}

.error-alert {
  position: absolute;
  width: 100%
}

.input-body {
  background-color: #CFDDD1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-entry-button {
  padding: 20px;
}

.prescription-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.prescription-title {
  color: #0D2018;
  padding: 10px;
  font-weight: bold;
}

.patient-container {
  border: 1px solid #949BA4;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.patient-prescription-submit-button {
  color: #0D2018;
  background-color: #CFDDD1;
  border: 1px solid #0D2018;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.patient-prescription-submit-button:hover {
  color: #CFDDD1;
  background-color: #0D2018;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

/*---------------------------------------------------------------------------------------inputBox-name*/
.inputBox-name {
  position: relative;
  width: 500px;

}

.inputBox-name input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.last-name-span {
  position: absolute;
  left: 275px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #949BA4;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  opacity: 1;
}

.first-name-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #949BA4;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  opacity: 1;
}

.inputBox-name input:valid+span,
.inputBox-name input:focus+span {
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;
  opacity: 1;
}

.inputBox-name input:valid,
.inputBox-name input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-dob*/
.inputBox-dob {
  position: relative;
  width: 500px;
}

.inputBox-dob input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-dob span {
  color: #949BA4;
  text-transform: uppercase;
  font-size: 1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s;
  padding: 10px;
}

.dob-month-span {
  left: 25px;
}

.dob-day-span {
  left: 193px;
}

.dob-year-span {
  left: 360px;
}

.inputBox-dob input:valid+span,
.inputBox-dob input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.07em;
}

.inputBox-dob input:valid,
.inputBox-dob input:focus {
  border: 1px solid #0D2018;
}


/*---------------------------------------------------------------------------------------inputBox-street*/

.inputBox-street {
  position: relative;
  width: 500px;
}

.inputBox-street input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-street-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-street input:valid+span,
.inputBox-street input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-street input:valid,
.inputBox-street input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-city-state-zip*/

.inputBox-city-state-zip {
  position: relative;
  width: 500px;
}

.inputBox-city-state-zip input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-city-state-zip span {
  color: #949BA4;
  text-transform: uppercase;
  font-size: 1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: 0.3s;
  padding: 10px;
}

.inputBox-city-span {
  left: 25px;
}

.inputBox-state-span {
  left: 193px;
}

.inputBox-zip-span {
  left: 360px;
}

.inputBox-city-state-zip input:valid+span,
.inputBox-city-state-zip input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;
}

.inputBox-city-state-zip input:valid,
.inputBox-city-state-zip input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-drug*/

.inputBox-drug {
  position: relative;
  width: 500px;
}

.inputBox-drug input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-drug-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-drug input:valid+span,
.inputBox-drug input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-drug input:valid,
.inputBox-drug input:focus {
  border: 1px solid #0D2018;
}

/*---------------------------------------------------------------------------------------inputBox-sig */

.inputBox-sig {
  position: relative;
  width: 500px;
}

.inputBox-sig input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-sig-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-sig input:valid+span,
.inputBox-sig input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-sig input:valid,
.inputBox-sig input:focus {
  border: 1px solid #0D2018;
}

.inputBox-quanity-refills {
  position: relative;
  width: 500px;
}

.inputBox-quanity-refills input {
  width: 100%;
  padding: 10px;
  border: 1px solid #949BA4;
  background: #CFDDD1;
  border-radius: 5px;
  outline: none;
  color: #0D2018;
  font-size: 1em;
  margin: 10px;
}

.inputBox-quanity-span {
  position: absolute;
  left: 25px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-refills-span {
  position: absolute;
  left: 193px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-day-supply-span {
  position: absolute;
  left: 360px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  opacity: 1;
  text-transform: uppercase;
  transition: 0.3s;
  top: 10px;
  color: #949BA4;
}

.inputBox-quanity-refills input:valid+span,
.inputBox-quanity-refills input:focus+span {
  opacity: 1;
  color: #0D2018;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #CFDDD1;
  border-left: 1px solid #0D2018;
  border-right: 1px solid #0D2018;
  letter-spacing: 0.2em;

}

.inputBox-quanity-refills input:valid,
.inputBox-quanity-refills input:focus {
  border: 1px solid #0D2018;
}


/*----------------------------------------------------------------------------------------registerUserPage */
.input.input-error,
.select.input-error {
  border-color: red;
}

.newpatient-container {
  height: 100vh;
  background-color: #CFDDD1;
}

.new-patient-back-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 5px;
  text-decoration: none;
  color: #17382b76;
  background-color: #CFDDD1;
  border: 1px solid #17382b76;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 4rem;
}

.new-patient-back-button:hover {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 5px;
  text-decoration: none;
  color: #CFDDD1;
  background-color: #17382b76;
  border: 1px solid #CFDDD1;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

.select-title {
  color: #0D2018;
  display: flex;
  justify-content: center;
  font-weight: bold;
}